* {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

html, body {
    height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
    display: flex;
    height:100%;
}

.left-container {
    background-image: url("cyberpunk\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    width: 50rem;
}

.right-container {
    height: 100%;
    display: flex;
    align-items: center;

}

.form-box {
    padding: 3rem;
    -webkit-box-shadow: 0px 10px 54px -17px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 10px 54px -17px rgba(0,0,0,0.46);
    box-shadow: 0px 10px 54px -17px rgba(0,0,0,0.46);


}

.intro-text {
    margin: 3rem;
    font-size: 24px;
    font-weight: bold;

}

.footer {
    margin: 3rem;
}

.action-sentence {
    font-weight: bold;
    padding-bottom: 1em;
    font-size: larger;
}

.form {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.form-entry {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;

}

.form-entry > label {
    font-size: smaller;
    padding: 2px 0 2px 0;
}

.myButton {
	background-color:#599bb3;
	border-radius:42px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:11px 18px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

input {
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

input:focus {
    border-color: blue;
    border-radius: 5px;
}